:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

section{
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  border: 1px solid gray;
}

.titulo-form{
  font-family: "Lexend Exa", sans-serif;
  font-size: 30px;
}

form{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 20px;
}

.form-container{
  padding: 2rem;
  width: 100%;
}







@media (max-width: 768px){
  .ng-tns-c1614365056-3 p-overlay p-component ng-star-inserted{
    min-width: none;
  }
}