:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #050011;
}

:host ::ng-deep section{
  display: flex;
padding: 1rem;
  justify-content: center;
  align-items: center;
}

.card{
  -webkit-box-shadow: 0px 9px 15px 6px #BDBDBD; 
  box-shadow: 0px 9px 15px 6px #BDBDBD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem !important;
  min-height: 70rem;
  border: 1px solid rgba(128, 128, 128, 0.255);
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  padding-bottom: 20px !important;
}

.titulo-form{
  font-family: "Lexend Exa", sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding-top: 3rem;
  color: white;

}

form{
  width: 80%;
}

:ng-deep form{
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  padding-top: 0;
  gap: 20px;
}

:ng-deep .gap-3{
  gap: 0 !important;
}

.form-container{
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}

#areas-interesse{
  display: flex;
  flex-direction: column;

}

#areas-interesse label{
    font-family: "Lexend Exa", sans-serif;
    color: white !important;

}

#areas-interesse label{
  font-weight: 400;
}

.p-error{
  color: rgba(255, 0, 0, 0.807);
}


input, p-password, p-multiSelect, p-floatLabel, input{
  background-color: #03010e !important;
}

:host ::ng-deep .p-multiselect-header, .p-multiselect-list, .p-ripple{
    background-color: #03010e !important;

}

:host ::ng-deep a{
    color: #00ff808a;
  }







@media (max-width: 768px){
  .ng-tns-c1614365056-3 p-overlay p-component ng-star-inserted{
    min-width: none;
  }
}
:host ::ng-deep .p-multiselect-list{
    background-color: #03010e !important;
    color: white;

}
:host ::ng-deep .p-multiselect-header input{
      background-color: #03010e !important;

}
:host ::ng-deep .p-multiselect-list span{
  color: white;
}

:host ::ng-deep .p-multiselect-list .p-multiselect-option.p-multiselect-option-selected.p-focus,.p-multiselect-option.p-multiselect-option-selected, .p-multiselect-option.p-multiselect-option-selected  {
  background-color: #03010e;
}
:host ::ng-deep  .p-multiselect-option:not(.p-multiselect-option-selected):not(.p-disabled).p-focus{
    background-color: #03010e;
}
:host ::ng-deep .p-multiselect-option.p-multiselect-option-selected{
    background-color: #03010e;
  }
:host ::ng-deep .p-password:has(.p-password-toggle-mask-icon) .p-password-input{
      background-color: #03010e;
}
 :host ::ng-deep label.text-sm, span {
  color: rgb(163, 163, 163);
 }