<section>
    <form action="">
        <label for="nome">Nome: </label>
        <input type="text" id="nome">

        <label for="email">E-mail: </label>
        <input type="email" id="email">

        <label for="turma">Turma: </label>
        <input type="text" id="turma">

        <label>Selecione sua area de interesse</label>
        <mat-form-field>
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              @for (topping of toppingList; track topping) {
                <mat-option [value]="topping">{{topping}}</mat-option>
              }
            </mat-select>
          </mat-form-field>        

    </form>
</section>