

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background: linear-gradient(#032989, #04d459);
  padding: 50px;
}

main{
  padding: 100px;
  gap: 20px;

}

.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 5.4rem;
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 16px;
}



h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 900;
}

 p {
  font-size: 1.1rem;
  color: #ffffff;
  font-family: "Lexend Exa", sans-serif;}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px){

  main{
    padding: 20px;
    padding-top: 60px;
  }

  .projects-grid{
    display: flex;
    flex-direction: column;
  }
}