<mat-toolbar color="primary" class="toolbar">

  <div class="logo-container">
    <img src="assets/logo_st_t.png" alt="Logo">
    <p>Jovens Cientistas</p>
  </div>


  <span class="spacer"></span>

  <nav class="header_nav">
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="/quem-somos">Quem Somos</a>
    <a mat-button routerLink="/projetos">Projetos</a>
    <a mat-button routerLink="/contato">Contato</a>
  </nav>

  <button mat-icon-button class="mobile-menu-button" >
      <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>

