@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Oswald:wght@200..700&display=swap');
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
  color: white ;
}

.mdc-list-item__primary-text{
  color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  padding-inline: 0px;
}


.toolbar {
  padding-inline-end: 20px;
  background-color: #000000 ;
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  font-family: "Aldrich", sans-serif;
  display: flex;
  align-items: center;
  font-weight: bolder;
  gap: 5px;
}

.logo-container p{
  margin-bottom: 0;
}

.logo-container img {
  width: 70px;
  height: auto;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-nav {
  display: flex;
  gap: 20px;
}

.header_nav{
  display: flex;
  gap: 10px;
}

.header_nav a {
  font-size: 19px;
  text-transform: none;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
  padding: 2.5px 20px;
  gap: 5px;
  color: white;
  border-radius: 16px;
}

.header_nav a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0bda5e3a 5%, rgba(1, 79, 157, 0.341) 100%);
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.header_nav a:hover::before {
  opacity: 1;
}

#icon{
  font-size: 20px;
  color: black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.sidenav-container {
  background-color: transparent;
}

/* Estilo do Menu Lateral (Sidenav) */
mat-sidenav {
  width: 250px;
  background-color: #1e1e1e; /* Cor escura baseada no seu print */
  color: white;
}

  .botao-menu{
  color: black !important;
  font-family: "Lexend Exa", sans-serif;

}

.sidenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #000; /* Fundo mais escuro para o topo do menu */
}

/* Links do Sidenav */
mat-nav-list a {
  color: white !important;
  font-family: "Lexend Exa", sans-serif;
}

.perfil{
  color: white;
  font-size: 40px;
  width: 100%;
  height: 100%;
}

/* === RESPONSIVIDADE (Media Queries) === */

/* Padrão: Desktop */
.mobile-only {
  display: none;
}

.desktop-only {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Mobile (Abaixo de 768px) */
@media (max-width: 768px) {
  .desktop-only {
    display: none; /* Esconde menu desktop */
  }

  .mobile-only {
    display: block; /* Mostra botão hamburguer */
  }
  
  .logo-container p {
    font-size: 0.9rem; /* Ajuste opcional para logo não quebrar */
  }
}


