<section class="flex justify-content-center align-items-center min-h-screen">
  <div class="card">

        <div class="titulo-form text-center mb-4">
          <h2 class="titulo-form">Bem-vindo de volta!</h2>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="flex flex-column gap-4">
          
          <p-floatLabel variant="in">
            <input pInputText id="email" type="email" formControlName="email" class="w-full" fluid  />
            <label for="email">E-mail</label>
          </p-floatLabel>

          <p-floatLabel variant="in">
            <p-password inputId="password" formControlName="senha" [feedback]="false" [toggleMask]="true" styleClass="w-full" [inputStyle]="{'width':'100%'}" fluid></p-password>
            <label for="password">Senha</label>
          </p-floatLabel>

          <p-button label="Entrar" type="submit" styleClass="w-full" [disabled]="loginForm.invalid" fluid></p-button>
          
          <div class="text-center">
            <span class="text-sm">Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></span>
          </div>
        </form>
      </div>
    </section>