:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

section{
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.card{
  -webkit-box-shadow: 0px 9px 15px 6px #BDBDBD; 
box-shadow: 0px 9px 15px 6px #BDBDBD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 550px;
  border: 1px solid rgba(128, 128, 128, 0.255);
  border-radius: 8px;
}

.titulo-form{
  font-family: "Lexend Exa", sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding-top: 0rem;

}

form{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 0;
  gap: 20px;
  width: 100%;
}

.form-container{
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}








@media (max-width: 768px){
  .ng-tns-c1614365056-3 p-overlay p-component ng-star-inserted{
    min-width: none;
  }
}