:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
    background-color: #050011;

}

:host ::ng-deep section{
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 1rem ;

}

.card{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem !important;
  min-height: 70rem;
  border: 1px solid rgba(128, 128, 128, 0.255);
  border-radius: 8px;
}

.titulo-form{
  color: white;
  font-family: "Lexend Exa", sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding-top: 0rem;

}

form{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 0;
  gap: 20px;
  width: 80%;
}

.form-container{
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}


.text-center{
  padding-bottom: 16px !important;
}

:host ::ng-deep .p-floatlabel-in .p-inputtext{
    background-color: #03010e !important;

}

 :host ::ng-deep .text-sm, span{
  color: white;
 }

  :host ::ng-deep a{
    color: #00ff808a;
  }



@media (max-width: 768px){
  .ng-tns-c1614365056-3 p-overlay p-component ng-star-inserted{
    min-width: none;
  }
}