.container-pagina {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.cabecalho-pagina {
  text-align: center;
  margin-bottom: 3rem;
}

.cabecalho-pagina h1 {
  font-size: 2.5rem;
  color: var(--surface-900);
  margin-bottom: 0.5rem;
}

.cabecalho-pagina p {
  color: var(--surface-600);
  font-size: 1.1rem;
}

.grade-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 2rem;
}

.cartao-projeto {
  background: rgb(255, 255, 255);
  border: 1px solid var(--surface-border);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.cartao-projeto:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.area-imagem {
  position: relative;
  height: 200px;
  width: 100%;
}

.imagem-capa {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:host ::ng-deep .tag-categoria {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.conteudo-cartao {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cabecalho-cartao {
  margin-bottom: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 6px;
  border-end-end-radius: 18px;
}

.titulo-projeto {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--surface-900);
  margin: 0 0 0.5rem 0;
}

.data-projeto {
  font-size: 0.85rem;
  color: var(--surface-500);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.descricao-projeto {
  color: var(--surface-600);
  line-height: 1.5;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  padding-inline: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.area-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
    padding-inline: 1rem;

}

:host ::ng-deep .chip-estilizado {
  font-size: 0.75rem;
  background: var(--surface-100);
}

.divisor {
  height: 1px;
  background-color: var(--surface-border);
  margin: auto 0 1rem 0;
  width: 100%;
}

.rodape-cartao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; 
    padding-inline: 1rem;

}

.membros-equipe {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--surface-600);
  font-size: 0.85rem;
}

.icone-equipe {
  font-size: 1.1rem;
  color: var(--primary-color);
}