<div class="container-pagina">

  <div class="grade-projetos">
    
    <div class="cartao-projeto" *ngFor="let project of projects">
      
      <div class="area-imagem">
        <img [src]="project.image" [alt]="project.title" class="imagem-capa">
        
      </div>

      <div class="conteudo-cartao">
        
        <div class="cabecalho-cartao">
          <h2 class="titulo-projeto">{{ project.title }}</h2>
          <span class="data-projeto">
            <i class="pi pi-calendar"></i> {{ project.date }}
          </span>
        </div>

        <p class="descricao-projeto">
          {{ project.description }}
        </p>

        <div class="area-tags" *ngIf="project.tags && project.tags.length > 0">
          <p-chip *ngFor="let tag of project.tags" [label]="tag" styleClass="chip-estilizado"></p-chip>
        </div>
        
        <div class="divisor"></div>

        <div class="rodape-cartao">
          <div class="membros-equipe">
            <i class="pi pi-users icone-equipe"></i>
            <span class="texto-membros" title="{{ project.members.join(', ') }}">
              {{ project.members.length }} Membro(s) na equipe
            </span>
          </div>

          <p-button 
            label="Detalhes" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            [text]="true" 
            size="small">
          </p-button>
        </div>

      </div>
    </div>

  </div>
</div>