<p-toast></p-toast>
<div class="container-perfil">
  <p-card styleClass="cartao-perfil">
    <ng-template pTemplate="header">
      <div class="cabecalho-cartao">
        <p-avatar
          icon="pi pi-user"
          styleClass="avatar-usuario"
          size="xlarge"
          shape="circle"
          [style]="{'background-color': 'black', 'color': 'white', 'border': '4px solid white'}"
        ></p-avatar>
        <h3 class="titulo-perfil">Meu Perfil</h3>
      </div>
    </ng-template>

    <form [formGroup]="formularioPerfil" (ngSubmit)="salvarAlteracoes()" class="formulario-perfil">
      <p-floatLabel variant="in" class="grupo-campo">
        <input 
          pInputText 
          id="nome" 
          formControlName="nome" 
          class="campo-entrada" 
        />
        <label for="nome">Nome Completo</label>
      </p-floatLabel>

      <p-floatLabel variant="in" class="grupo-campo">
        <input 
          pInputText 
          id="email" 
          formControlName="email" 
          class="campo-entrada" 
        />
        <label for="email">E-mail</label>
      </p-floatLabel>

      <p-floatLabel variant="in" class="grupo-campo">
        <input 
          pInputText 
          type="password"
          
          id="senha" 
          formControlName="senha" 
          class="campo-entrada" 
        />
        <label for="senha">Senha</label>
      </p-floatLabel>

      <div class="area-botoes">
        <p-button 
          *ngIf="!estaEditando()"
          label="Editar Dados"
          icon="pi pi-pencil"
          styleClass="botao-editar"
          (onClick)="alternarEdicao()"
        ></p-button>

        <ng-container *ngIf="estaEditando()">
          <p-button
            label="Salvar Alterações"
            icon="pi pi-check"
            type="submit"
            styleClass="botao-salvar"
            [disabled]="formularioPerfil.invalid"
          ></p-button>

          <p-button
            icon="pi pi-times"
            label="Cancelar"
            (onClick)="alternarEdicao()"
            styleClass="botao-cancelar"
            [outlined]="true"
          ></p-button>
        </ng-container>
      </div>
    </form>
  </p-card>
</div>