<section id="s1">
 
    <div class="texto">
        <h3>
            O clube de ciências do Colégio José dias de Sales, onde explorar, questionar e descobrir fazem parte do aprendizado.
        </h3>
    </div>

    <img class="img-section" src="assets/image 5.png" alt="">
</section>
<section id="s2">
    <div id="container">
<div class="s2_divs">
        <img class="img-section" src="assets/image 6.png" alt="">

        <div class="texto">
            <h2>
            Nossa História
            </h2>
        <p>
            O Clube de Ciências nasceu da vontade de ir além dos livros didáticos. O que começou com apenas um pequeno grupo de alunos curiosos, hoje se transformou em um espaço de inovação. Ao longo dos anos, passamos de simples espectadores para protagonistas, desenvolvendo projetos que representam nossa escola em feiras e eventos estaduais.
        </p>
        </div>
        
    </div>
    <div class="s2_divs" id="s2-div2">
        <div class="texto">
            <h2>
            Nossa Missão
            </h2>
        <p>
            No Colégio José Dias de Sales, acreditamos que a ciência vai muito além dos livros didáticos. Nosso Clube de Ciências nasceu para ser um laboratório de ideias, incentivando a pesquisa e o pensamento crítico. Nosso objetivo é despertar o cientista que existe em cada aluno.
        </p>
        </div>
        

            <img class="img-section" src="assets/foto3.png" alt="">
    </div>
    </div>
    
</section>
