<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    mode="over" 
    position="end"
    class="mobile-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" >
        <span >Home</span>
      </a>
      
      <a mat-list-item routerLink="/quem-somos" >
        <span >Quem Somos</span>
      </a>
      
      <a mat-list-item routerLink="/projetos" >
        <span >Projetos</span>
      </a>
      
      <a mat-list-item routerLink="/contato" >
        <span >Contato</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
