@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 }
