@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Oswald:wght@200..700&display=swap');

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


*{
    margin: 0;
    padding: 0;
    
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden; /* Previne scroll horizontal globalmente */
  width: 100%;
}
